label {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
  }
  
  input {
    font-size: 16px;
  }
  
  td {
    width: 16px;
    height: 16px;
    background-color: #CFC;
    border: 1px solid #000;
  }
  
  table {
    border-collapse: collapse;
  }